In [27]:
#Dependencies and Setup

import pandas as pd
import numpy as np
from statistics import mean
#import statistics

fantasy_df = pd.read_csv('Resources/purchase_data.csv')
#rename to sales_data

# Player Count

In [28]:
player_count = pd.DataFrame([{'Total Players': 0}])
num_of_players = len(fantasy_df['SN'].unique())
player_count['Total Players'] = num_of_players
player_count

   Total Players
0            576

# Purchasing Analysis (Total)

In [34]:
purchase_analysis = pd.DataFrame(np.array([[0,0,0,0]]), columns=['Number of Unique Items', 'Average Price', 
                                          'Number of Purchases', 'Total Revenue'])
inventory_df = pd.DataFrame(fantasy_df[['Item ID','Item Name', 'Price']].drop_duplicates(['Item ID']))
purchase_analysis['Number of Unique Items'] = len(inventory_df)
purchase_analysis['Average Price'] = mean(list(inventory_df['Price']))
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map("${:,.2f}".format)
purchase_analysis['Number of Purchases'] = len(fantasy_df['Item ID'])
purchase_analysis['Total Revenue'] = fantasy_df['Price'].sum()
purchase_analysis['Total Revenue'] = purchase_analysis['Total Revenue'].map("${:,.2f}".format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.04                  780     $2,379.77