In [27]:
#Dependencies and Setup

import pandas as pd
import numpy as np
from statistics import mean
#import statistics

fantasy_df = pd.read_csv('Resources/purchase_data.csv')
#rename to sales_data

# Player Count

In [28]:
player_count = pd.DataFrame([{'Total Players': 0}])
num_of_players = len(fantasy_df['SN'].unique())
player_count['Total Players'] = num_of_players
player_count

   Total Players
0            576

# Purchasing Analysis (Total)

In [105]:
purchase_analysis = pd.DataFrame(np.array([[0,0,0,0]]), columns=['Number of Unique Items', 'Average Price', 
                                          'Number of Purchases', 'Total Revenue'])
inventory_df = pd.DataFrame(fantasy_df[['Item ID','Item Name', 'Price']].drop_duplicates(['Item ID']))
inventory_df = inventory_df.set_index(['Item ID', 'Item Name'])
purchase_analysis['Number of Unique Items'] = len(inventory_df)
purchase_analysis['Average Price'] = mean(list(inventory_df['Price']))
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map("${:,.2f}".format)
purchase_analysis['Number of Purchases'] = len(fantasy_df['Item ID'])
purchase_analysis['Total Revenue'] = fantasy_df['Price'].sum()
purchase_analysis['Total Revenue'] = purchase_analysis['Total Revenue'].map("${:,.2f}".format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.04                  780     $2,379.77

# Gender Demographics

In [46]:
gender_demo = fantasy_df.drop_duplicates(['SN'])
gender_demo = pd.DataFrame(gender_demo['Gender'].value_counts())
gender_demo = gender_demo.rename(columns={'Gender': 'Total Count'})
gender_demo['Percentage of Players (%)'] = round((gender_demo['Total Count']/num_of_players)*100,2)
gender_demo

                       Total Count  Percentage of Players (%)
Male                           484                      84.03
Female                          81                      14.06
Other / Non-Disclosed           11                       1.91

# Purchasing Analysis (Gender)

In [73]:
purchase_analysis = fantasy_df.groupby('Gender').agg({'Item ID': 'count', 'Price': ['sum', lambda x: round(x.unique().mean(),2)]})
purchase_analysis.columns = purchase_analysis.columns.droplevel(level=1)

#average purchase by person by gender
purchase_analysis2 = fantasy_df.groupby(['Gender', 'SN']).agg({'Item ID': 'count', 'Price': 'sum'})
purchase_analysis2 = purchase_analysis2.groupby('Gender').agg(
    Avg_Purchase_Tot = pd.NamedAgg(column = 'Price', aggfunc= lambda x: round(mean(x),2))
)

#final summary
purchase_analysis_gender = purchase_analysis.join(purchase_analysis2)

#rename columns
purchase_analysis_gender.columns = ['Number of Purchases', 'Total Revenue', 'Average Price', 'Avg Total Purchase Per Person']

#format columns
purchase_analysis_gender['Total Revenue'] = purchase_analysis_gender['Total Revenue'].map("${:,.2f}".format)
purchase_analysis_gender['Average Price'] = purchase_analysis_gender['Average Price'].map("${:,.2f}".format)
purchase_analysis_gender['Avg Total Purchase Per Person'] = purchase_analysis_gender['Avg Total Purchase Per Person'].map("${:,.2f}".format)
purchase_analysis_gender

,Number of Purchases,Total Revenue,Average Price,Avg Total Purchase Per Person
Gender,,,,
Female,113,$361.94,$3.11,$4.47
Male,652,"$1,967.64",$3.04,$4.07
Other / Non-Disclosed,15,$50.19,$3.31,$4.56

# Age Demographics

In [87]:
#select buckets for age grouping
bins = [0, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50]
labels = ["<10", "10-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43-46", "47-50"]
fantasy_df['Age Group'] = pd.cut(fantasy_df['Age'], bins, labels=labels)

age_demo = fantasy_df.groupby('Age Group').agg({'Item ID': 'count','Price': ['sum', lambda x: round(x.unique().mean(),2)]})
age_demo.columns = age_demo.columns.droplevel(level=1)
age_demo['Price'].fillna(0)

#average purchase by person by age group
age_demo2 = fantasy_df.groupby(['Age Group', 'SN']).agg({'Item ID': 'count', 'Price': 'sum'})
age_demo2 = age_demo2.dropna()

age_demo2 = age_demo2.groupby('Age Group').agg(Avg_Purchase_Tot = pd.NamedAgg(column = 'Price', aggfunc= lambda x: round(mean(x),2)))
age_demo2

#final summary
purchase_analysis_age = age_demo.join(age_demo2)
purchase_analysis_age['Avg_Purchase_Tot'] = purchase_analysis_age['Avg_Purchase_Tot'].fillna(0)

#rename columns
purchase_analysis_age.columns = ['Number of Purchases', 'Total Revenue', 'Average Price', 'Avg Total Purchase Per Person']

purchase_analysis_age['Average Price'] = purchase_analysis_age['Average Price'].fillna(0)
#format columns
purchase_analysis_age['Total Revenue'] = purchase_analysis_age['Total Revenue'].map("${:,.2f}".format)
purchase_analysis_age['Average Price'] = purchase_analysis_age['Average Price'].map("${:,.2f}".format)
purchase_analysis_age['Avg Total Purchase Per Person'] = purchase_analysis_age['Avg Total Purchase Per Person'].map("${:,.2f}".format)

purchase_analysis_age

,Number of Purchases,Total Revenue,Average Price,Avg Total Purchase Per Person
Age Group,,,,
<10,32,$108.96,$3.41,$4.54
10-14,19,$50.95,$2.77,$3.40
15-18,113,$342.91,$2.99,$3.81
19-22,254,$771.89,$3.03,$4.34
23-26,207,$634.24,$3.12,$4.20
27-30,63,$181.23,$2.88,$3.78
31-34,38,$103.68,$2.75,$3.84
35-38,35,$124.35,$3.50,$4.97
39-42,15,$50.50,$3.37,$3.61
43-46,4,$11.06,$2.76,$2.77
47-50,0,$0.00,$0.00,$0.00

# Top Spenders

In [88]:
grouped_by_players = fantasy_df.groupby('SN').agg({'Purchase ID': 'count', 'Price': ['sum', lambda x: round(x.unique().mean(),2)]})
grouped_by_players.columns = grouped_by_players.columns.droplevel(level=1)

#rename columns
grouped_by_players.columns = ['Number of Purchases', 'Total Revenue', 'Average Price']

players_sort_by_revenue = grouped_by_players.sort_values(by=['Total Revenue'], ascending=False)

#format columns
players_sort_by_revenue['Total Revenue'] = players_sort_by_revenue['Total Revenue'].map("${:,.2f}".format)
players_sort_by_revenue['Average Price'] = players_sort_by_revenue['Average Price'].map("${:,.2f}".format)

top_five_players = players_sort_by_revenue.iloc[0:5]
top_five_players

             Number of Purchases Total Revenue Average Price
SN
Lisosia93                      5        $18.96         $3.79
Idastidru52                    4        $15.45         $3.86
Chamjask73                     3        $13.83         $4.61
Iral74                         4        $13.62         $3.40
Iskadarya95                    3        $13.10         $4.37

# Most Popular Items

In [116]:
grouped_by_items = fantasy_df.groupby(['Item ID', 'Item Name']).agg({'Purchase ID': 'count', 'Price': 'sum'})

#rename columns
grouped_by_items.columns = ['Number of Purchases', 'Total Revenue']

grouped_by_items = grouped_by_items.join(inventory_df)

#rename columns
grouped_by_items.columns = ['Number of Purchases', 'Total Revenue', 'Item Price']

items_sort_by_count= grouped_by_items.sort_values(by=['Number of Purchases'], ascending=False)

#format columns
items_sort_by_count['Total Revenue'] = items_sort_by_count['Total Revenue'].map("${:,.2f}".format)
items_sort_by_count['Item Price'] = items_sort_by_count['Item Price'].map("${:,.2f}".format)


top_five_items_count = items_sort_by_count.iloc[0:5]
top_five_items_count


#items_sort_by_count.head(15)
#ask instructor how to do rankings with equal spots

,,Number of Purchases,Total Revenue,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
82,Nirvana,9,$44.10,$4.90
19,"Pursuit, Cudgel of Necromancy",8,$8.16,$1.02

# Most Profitable Items