In [1]:
#Load dependencies
import pandas as pd
import numpy as np
from statistics import mean
import statistics

In [2]:
#Load csv file
fantasy_df = pd.read_csv('Resources/purchase_data.csv')
fantasy_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [3]:
#Number of players
fantasy_df.count()
fantasy_df['SN'].unique()
num_of_players = len(fantasy_df['SN'].unique())
num_of_players

576

In [4]:
#number of rows in dataset
len(fantasy_df)

780

In [5]:
#Purchasing Analysis
num_of_items = len(fantasy_df['Item ID'].unique())
num_of_items

183

In [6]:
#Purchase Analysis 2
inventory_df = pd.DataFrame(fantasy_df[['Item ID', 'Price']].drop_duplicates(['Item ID']))
num_of_items = len(inventory_df)
num_of_items

183

In [7]:
prices = list(fantasy_df['Price'].unique())
avg_price = round(mean(prices),2)
avg_price

3.03

In [8]:
tot_num_of_purch = len(fantasy_df['Item ID'])
tot_num_of_purch

780

In [9]:
tot_rev = fantasy_df['Price'].sum()
tot_rev

2379.77

In [10]:
#Gender Demographics
#fantasy_df['Gender'].value_counts()
gender_demo = fantasy_df.drop_duplicates(['SN'])
gender_demo

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [11]:
gender_summary = pd.DataFrame(gender_demo['Gender'].value_counts())
gender_summary.reset_index()
gender_summary = gender_summary.rename(columns={'Gender': 'Counts'})
gender_summary

                       Counts
Male                      484
Female                     81
Other / Non-Disclosed      11

In [12]:
gender_summary['Percentage(%)'] = round((gender_summary['Counts']/num_of_players)*100,2)
gender_summary

                       Counts  Percentage(%)
Male                      484          84.03
Female                     81          14.06
Other / Non-Disclosed      11           1.91

In [13]:
purchase_analysis = fantasy_df.groupby('Gender').count()
df1 = purchase_analysis[['Item ID']]
df1 = df1.rename(columns={'Item ID': 'Purchase Count'})
df1

                       Purchase Count
Gender
Female                            113
Male                              652
Other / Non-Disclosed              15

In [28]:
purchase_analysis = fantasy_df.groupby('Gender', as_index=False).agg({'Item ID': 'count', 
                                                                      'Price': ['sum', lambda x: round(x.unique().mean(),2)]})
purchase_analysis

                  Gender Item ID    Price
                           count      sum <lambda_0>
0                 Female     113   361.94       3.11
1                   Male     652  1967.64       3.04
2  Other / Non-Disclosed      15    50.19       3.31

In [27]:
purchase_analysis = fantasy_df.groupby('Gender', as_index=False).agg({'Item ID': 'count', 
                                                                      'Price': ['sum', lambda x: round(x.unique().mean(),2)]})
#purchase_analysis = purchase_analysis.columns.set_levels(['b1','c1','f1'],level=1,inplace=True)
purchase_analysis.columns = purchase_analysis.columns.droplevel(level=1)
purchase_analysis

                  Gender  Item ID    Price  Price
0                 Female      113   361.94   3.11
1                   Male      652  1967.64   3.04
2  Other / Non-Disclosed       15    50.19   3.31

In [57]:
#selected method for purchase analysis summary
purchase_analysis.columns = ['Gender', 'Item Count', 'Tot Revenue', 'Average Price']
purchase_analysis

                  Gender  Item Count  Tot Revenue  Average Price
0                 Female         113       361.94           3.11
1                   Male         652      1967.64           3.04
2  Other / Non-Disclosed          15        50.19           3.31

In [64]:
#average purchase by person by gender
purchase_analysis2 = fantasy_df.groupby(['Gender', 'SN'], as_index=False).agg({'Item ID': 'count', 
                                                                      'Price': 'sum'})
purchase_analysis2
#purchase_analysis2 = purchase_analysis2.groupby('Gender', as_index=False).agg({'Price': 'mean'})
purchase_analysis2 = purchase_analysis2.groupby('Gender').agg(
    Avg_Purchase_Tot = pd.NamedAgg(column = 'Price', aggfunc= lambda x: round(mean(x),2))
)
purchase_analysis2 = purchase_analysis2.reset_index()
purchase_analysis2

                  Gender  Avg_Purchase_Tot
0                 Female              4.47
1                   Male              4.07
2  Other / Non-Disclosed              4.56

In [65]:
purchase_analysis_gender = pd.merge(purchase_analysis,purchase_analysis2)
purchase_analysis_gender

,Gender,Item Count,Tot Revenue,Average Price,Avg_Purchase_Tot
0,Female,113,361.94,3.11,4.47
1,Male,652,1967.64,3.04,4.07
2,Other / Non-Disclosed,15,50.19,3.31,4.56

In [15]:
fantasy_df.groupby('Gender').agg(
    Purchase_Count = ('Item ID', 'count'),
    Total_Revenue = ('Price', sum),
    #Average_Price = ("Price", lambda x: sum(x))
)

                       Purchase_Count  Total_Revenue
Gender
Female                            113         361.94
Male                              652        1967.64
Other / Non-Disclosed              15          50.19

In [69]:
fantasy_df.groupby('Gender').agg(
    Purchase_Count = pd.NamedAgg(column = "Item ID", aggfunc = 'count'),
    Average_Price = pd.NamedAgg(column = "Price", aggfunc = lambda x: round(x.unique().mean(),2)),
    #Total_Revenue = pd.NamedAgg(column = "Price", aggfunc = sum)
    
)

                       Purchase_Count  Average_Price
Gender
Female                            113           3.11
Male                              652           3.04
Other / Non-Disclosed              15           3.31