In [27]:
#Dependencies and Setup

import pandas as pd
import numpy as np
from statistics import mean
#import statistics

fantasy_df = pd.read_csv('Resources/purchase_data.csv')
#rename to sales_data

# Player Count

In [28]:
player_count = pd.DataFrame([{'Total Players': 0}])
num_of_players = len(fantasy_df['SN'].unique())
player_count['Total Players'] = num_of_players
player_count

   Total Players
0            576

# Purchasing Analysis (Total)

In [34]:
purchase_analysis = pd.DataFrame(np.array([[0,0,0,0]]), columns=['Number of Unique Items', 'Average Price', 
                                          'Number of Purchases', 'Total Revenue'])
inventory_df = pd.DataFrame(fantasy_df[['Item ID','Item Name', 'Price']].drop_duplicates(['Item ID']))
purchase_analysis['Number of Unique Items'] = len(inventory_df)
purchase_analysis['Average Price'] = mean(list(inventory_df['Price']))
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map("${:,.2f}".format)
purchase_analysis['Number of Purchases'] = len(fantasy_df['Item ID'])
purchase_analysis['Total Revenue'] = fantasy_df['Price'].sum()
purchase_analysis['Total Revenue'] = purchase_analysis['Total Revenue'].map("${:,.2f}".format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.04                  780     $2,379.77

# Gender Demographics

In [46]:
gender_demo = fantasy_df.drop_duplicates(['SN'])
gender_demo = pd.DataFrame(gender_demo['Gender'].value_counts())
gender_demo = gender_demo.rename(columns={'Gender': 'Total Count'})
gender_demo['Percentage of Players (%)'] = round((gender_demo['Total Count']/num_of_players)*100,2)
gender_demo

                       Total Count  Percentage of Players (%)
Male                           484                      84.03
Female                          81                      14.06
Other / Non-Disclosed           11                       1.91

# Purchasing Analysis (Gender)

In [63]:
purchase_analysis = fantasy_df.groupby('Gender', as_index=True).agg({'Item ID': 'count', 
                                                                      'Price': ['sum', lambda x: round(x.unique().mean(),2)]})
purchase_analysis.columns = purchase_analysis.columns.droplevel(level=1)
#rename columns
purchase_analysis.columns = ['Item Count', 'Tot Revenue', 'Average Price']

#average purchase by person by gender
purchase_analysis2 = fantasy_df.groupby(['Gender', 'SN']).agg({'Item ID': 'count', 
                                                                      'Price': 'sum'})
purchase_analysis2 = purchase_analysis2.groupby('Gender').agg(
    Avg_Purchase_Tot = pd.NamedAgg(column = 'Price', aggfunc= lambda x: round(mean(x),2))
)

#final summary
purchase_analysis_gender = purchase_analysis.join(purchase_analysis2)
purchase_analysis_gender

,Item Count,Tot Revenue,Average Price,Avg_Purchase_Tot
Gender,,,,
Female,113,361.94,3.11,4.47
Male,652,1967.64,3.04,4.07
Other / Non-Disclosed,15,50.19,3.31,4.56